<footer>
    <div class="f-info">
        <div>ROMI Finance</div>
        <div class="f-info-socials"></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>