<% layout("/layouts/boilerplate") %>
<body class="m-body">
    <h1 class="heading">Decentralized <br> Perpetual Exchange</h1>
    <h3 class="heading-3">Trade BTC, ETH, AVAX and other top <br> cryptocurrencies with up to 30x leverage <br> directly from your wallet</h3>
    <button class="l-btn">Lunch Exchange</button>
    <!-- <form method="GET" action="/dashboard">
        <button>Dashboard</button>
    </form>
    <form method="GET" action="/earn">
        <button>Earn</button>
    </form> -->
    <div class="row">
        <div class="col-sm-3 mb-3 mt-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Trading Volume</h5>
              <h3> &#36;0</h3>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Open Interest</h5>
              <h3> &#36;0</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <h2>0</h2>
              </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="card w-50 mt-3 mb-3 mr-3">
            <div class="card-body card-three">
              <h5 class="card-title">Reduce Liquidation Risks</h5>
              <p class="card-text">An aggregate of high-quality price feeds <br> determine when liquidations occur. <br> This keeps positions safe from temporary wicks.
                .</p>
            </div>
        </div>
        <div class="card w-50 mt-3 mb-3">
            <div class="card-body card-three">
              <h5 class="card-title">Save on Costs</h5>
              <p class="card-text">Enter and exit positions with minimal spread <br> and zero price impact. Get the optimal price <br> without incurring additional costs.</p>
              
            </div>
        </div>
        <div class="card w-50 mt-3 mb-3">
            <div class="card-body card-three">
              <h5 class="card-title">Simple Swaps</h5>
              <p class="card-text">Open positions through a simple swap <br> interface. Conveniently swap from any <br> supported asset into the position of your choice.</p>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title"> &#36;ZOMI</h3>
              <h5 class="card-subtitle mb-2 text-body-secondary">$ZOMI is the utility and governance token. Accrues 30% of the platform's generated fees.</h5>
              <p class="card-text"><b>Ethereum APR: 0.00%</b></p>
              <a href="#" class="btn btn-primary">Card link</a>
              <a href="#" class="btn btn-primary">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title"> &#36;ZLP</h3>
              <h5 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h5>
              <p class="card-text"><b>Some quick example text to build on the card title and make up the bulk of the card's content.</b></p>
              <a href="#" class="btn btn-primary">Card link</a>
              <a href="#" class="btn btn-primary">Another link</a>
            </div>
        </div>
    </div>

</body>
